a{
    color: white;
}

.sideNav__icon{
    position: relative;
    top: 8px;
    left: -3px;
    font-size: 30px;
}

.sideNav__container{
    margin-top: 75px;
}

.sideNav__label{
    display: block;
    color: white;
    font-size: 0;
    text-align: left;
}



@media (min-width: 813px) {
    .sideNav__label{
        font-size: 20px;
    }
}