.header-buttons{
    justify-content: space-between;
    flex-wrap: nowrap;
}
.bg-light{
    background-color: #131c29!important;
}

.header-buttons_container{
    display: flex;
    align-self: center;
}

.header-img{
    height: 35px;
    width: 75px;
}

.header-login_and_settings{
    display: flex;
    align-self: center;
}

.header-buttons-container{
    width: 100%;
    background-color: #091423;
    border-radius: 0 0 20px 20px;
    height: 75px;
}

.header-buttons-container_list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: white;
}

.profile-icon{
    font-size: 30px;
    cursor: pointer;
}

.popover{
    background-color: #3D4D65;
    color: white;
}

.popover-header{
    background-color: #3D4D65;
    border-bottom-color: #44aefb;
    color: #FB9C44;
}

.popover-body{
    color: white;
}

.popover-body > button{
    border-color: #D2335c;
    background-color: #D2335c;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.arrow::before, .arrow::after{
    /*border-bottom-color: #3D4D65;*/

}

.bs-popover-auto[x-placement^=bottom]>.arrow::after,
.bs-popover-auto[x-placement^=bottom] .popover-header::before{
    border-bottom-color: #3D4D65;
}

@media (min-width: 813px) {

    .header-img{
        height: 69px;
        width: 150px;
    }

}